@model IEnumerable<FaceVerifyAttendanceSystem.BL.Models.LessonDTO>

@{
    ViewData["Title"] = "Course";
    int pageNumber = ViewBag.PageNumber;
    int totalPages = ViewBag.TotalPages;
}
@if (User.IsInRole("Teacher"))
{
    <h2>Course</h2>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (User.IsInRole("Teacher"))
{
    <hr />
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Create</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Create</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Here you can create new course for student.</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='@Url.Action("Create", "Course")'">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<hr />
<h2>Your Course</h2>
<hr />
<form method="get" asp-action="Index" class="mb-3">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search courses..." name="searchTerm" value="@ViewBag.SearchTerm">
        </div>
        <div class="col">
            <select class="form-select" name="sortOrder">
                <option value="">Sort by</option>
                <option value="date_asc">Date (earliest first)</option>
                <option value="date_desc">Date (latest first)</option>
                <option value="name_asc">Name (A-Z)</option>
                <option value="name_desc">Name (Z-A)</option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary" type="submit">Apply</button>
        </div>
    </div>
</form>
<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var course in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>@course.NameCourse</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <foreignObject x="0" y="0" width="100%" height="100%">
                                <div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; justify-content: center; align-items: center; height: 100%; padding: 5px; box-sizing: border-box;">
                                    <span style="color: #eceeef; text-align: center; overflow-wrap: break-word; word-wrap: break-word;">@course.NameCourse</span>
                                </div>
                            </foreignObject>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                @if (@course.DescriptionCourse == null)
                                {
                                    @course.NameCourse
                                }
                                else
                                {
                                    @course.DescriptionCourse
                                }
                                <br />
                                @course.OwnerCourse
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='@Url.Action("Information", "Course", new { courseId = course.Id })'">View</button>

                                    @if (User.IsInRole("Teacher"))
                                    {
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                onclick="location.href='@Url.Action("Update", "Course", new { id = course.Id })'">
                                            Edit
                                        </button>
                                    }
                                </div>
                                <small class="text-body-secondary">
                                    @if (course.StartCourse == null && course.EndCourse == null)
                                    {
                                        @:NaN
                                    }
                                    else
                                    {
                                        @($"Start: {course.StartCourse?.ToString("d")}")
                                        <br />
                                        @($"Finish: {course.EndCourse?.ToString("d")}")
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <ul class="pagination">
        @if (pageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { searchTerm = ViewBag.SearchTerm, sortOrder = ViewBag.SortOrder, pageNumber = pageNumber - 1 })">&laquo;</a>
            </li>
        }

        @for (var i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == pageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { searchTerm = ViewBag.SearchTerm, sortOrder = ViewBag.SortOrder, pageNumber = i })">@i</a>
            </li>
        }

        @if (pageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { searchTerm = ViewBag.SearchTerm, sortOrder = ViewBag.SortOrder, pageNumber = pageNumber + 1 })">&raquo;</a>
            </li>
        }
    </ul>
</div>